# S0 — fundacao
python-dotenv>=1.0.0

# S1 — ingestao FIRMS e dados
requests>=2.31.0
pandas>=2.0.0
pyarrow>=14.0.0
# S3+ — modelo
# lightgbm>=4.0.0
# scikit-learn>=1.3.0

# S5+ — API
# fastapi>=0.110.0
# uvicorn[standard]>=0.27.0

# S6+ — dashboard
# streamlit>=1.32.0
# folium>=0.15.0

# Testes
pytest>=8.0.0
